<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>456127058086-q0t1jup8rdcc3j6cg0knvcqvq53ti4i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456127058086-q0t1jup8rdcc3j6cg0knvcqvq53ti4i6</string>
	<key>API_KEY</key>
	<string>AIzaSyDFkbj197RoMnDhGvSCj3gXdmGs5ZAwzHI</string>
	<key>GCM_SENDER_ID</key>
	<string>456127058086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.JavaScouts.JavaScouting2019</string>
	<key>PROJECT_ID</key>
	<string>javascouting2019</string>
	<key>STORAGE_BUCKET</key>
	<string>javascouting2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456127058086:ios:cd8c40ee448bbd12</string>
	<key>DATABASE_URL</key>
	<string>https://javascouting2019.firebaseio.com</string>
</dict>
</plist>